@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #292d32;
}
@media (min-width: 1280px) and (max-width: 1366px) {
	.grid-cols-1-at-1280 {
		grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
	}
}

/* .table-text {
	font-size: 20px;
	font-weight: 600;
}

.table-container {
	max-height: 250px;
	overflow-y: auto;
	box-shadow: 4px 4px 8px #bbbbbb;
}

.table-buttons {
	display: flex;
	gap: 10px;
}

.table-buttons button {
	margin-top: 10px;
	padding: 10px 20px;
	font-size: 17px;
	font-weight: 500;
	cursor: pointer;
}
.table-buttons button:hover {
	box-shadow: 4px 4px 12px #999999;
} */
